body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    text-align: center;
    color: #fff;
}


/* Layout */
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.page {
    display: none;
    max-width: 90%;
    animation: fade 1s;
}

.page.active {
    display: block;
}

/* Text */
h1 {
    font-size: 32px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.highlight {
    color: yellow;
    font-size: 30px;
    text-shadow: 2px 2px 10px #000;
}

/* Buttons */
button {
    margin-top: 20px;
    padding: 10px 18px;
    font-size: 16px;
    background: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #ffe6e6;
}

/* Cakes */
.cakes img {
    width: 70px;
    margin: 8px;
}

/* Slideshow */
#slideshow {
    width: 90%;
    max-width: 320px;
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0px 0px 20px #000;
}

/* Mobile Optimization */
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    #slideshow {
        height: 300px;
    }
}

/* Animation */
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
